ChatbotWithTranslation.json
[{"id":"276fcac0.c65f36","type":"tab","label":"Flow 1"},{"id":"2c98fb6c.0b3e8c","type":"watson-conversation-v1","z":"276fcac0.c65f36","name":"","workspaceid":"9334c542-e28e-4dab-a800-deee53873ff7","multiuser":false,"context":true,"empty-payload":false,"default-endpoint":true,"service-endpoint":"https://gateway.watsonplatform.net/conversation/api","x":340,"y":177,"wires":[["1df618f9.6eec87","a81b97d9.e633c8","4e43229d.fc713c","5eb661d9.75eb","429c5a51.a39c5c"]]},{"id":"63b164cc.ba42dc","type":"ui_text_input","z":"276fcac0.c65f36","name":"","label":"> ","group":"c40fbde7.1aef88","order":2,"width":0,"height":0,"passthru":false,"mode":"text","delay":"0","topic":"","x":88,"y":179.11109924316406,"wires":[["d900671c.47cb58"]]},{"id":"347d3113.e3fe66","type":"ui_text","z":"276fcac0.c65f36","group":"c40fbde7.1aef88","order":3,"width":"6","height":"6","name":"","label":"Watson > ","format":"{{msg.payload}}","layout":"row-spread","x":823.5,"y":606.4444580078125,"wires":[]},{"id":"1df618f9.6eec87","type":"debug","z":"276fcac0.c65f36","name":"","active":false,"console":"false","complete":"true","x":529,"y":86,"wires":[]},{"id":"c8b098e8.309dc","type":"change","z":"276fcac0.c65f36","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.output.text[0]","tot":"msg"},{"t":"set","p":"srclang","pt":"msg","to":"en","tot":"str"},{"t":"set","p":"destlang","pt":"msg","to":"language","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":223.75,"y":601,"wires":[["44bf1588.158db4","5f6ae10f.10cc9"]]},{"id":"a81b97d9.e633c8","type":"change","z":"276fcac0.c65f36","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":201.3333740234375,"y":115.00000762939453,"wires":[["63b164cc.ba42dc"]]},{"id":"4e43229d.fc713c","type":"switch","z":"276fcac0.c65f36","name":"Manage entity","property":"payload.entities[0].value","propertyType":"msg","rules":[{"t":"eq","v":"wipers","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":562,"y":151,"wires":[["58e20a87.0c1ce4","5a523d67.d311f4"],[]]},{"id":"58e20a87.0c1ce4","type":"debug","z":"276fcac0.c65f36","name":"","active":false,"console":"false","complete":"false","x":755,"y":75,"wires":[]},{"id":"5a523d67.d311f4","type":"switch","z":"276fcac0.c65f36","name":"Wiper State","property":"payload.intents[0].intent","propertyType":"msg","rules":[{"t":"eq","v":"turn_on","vt":"str"},{"t":"eq","v":"turn_off","vt":"str"}],"checkall":"false","outputs":2,"x":772,"y":136,"wires":[["e6a54d88.7b807"],["1444227f.890c3e"]]},{"id":"667a07c.4feae78","type":"ui_switch","z":"276fcac0.c65f36","name":"","label":"Wipers","group":"c40fbde7.1aef88","order":4,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":1044,"y":177,"wires":[[]]},{"id":"e6a54d88.7b807","type":"change","z":"276fcac0.c65f36","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":942,"y":99,"wires":[["667a07c.4feae78"]]},{"id":"1444227f.890c3e","type":"change","z":"276fcac0.c65f36","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":880,"y":199,"wires":[["667a07c.4feae78"]]},{"id":"efb0402e.32836","type":"inject","z":"276fcac0.c65f36","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":89,"y":37,"wires":[["5d15145a.62eb5c"]]},{"id":"5d15145a.62eb5c","type":"function","z":"276fcac0.c65f36","name":"Init Language","func":"global.set(\"language\", \"en\")\nreturn msg;","outputs":1,"noerr":0,"x":294,"y":34,"wires":[[]]},{"id":"629571fc.a279","type":"ui_text","z":"276fcac0.c65f36","group":"c40fbde7.1aef88","order":1,"width":0,"height":0,"name":"","label":"Language: ","format":"{{msg.payload}}","layout":"row-spread","x":741,"y":28,"wires":[]},{"id":"5eb661d9.75eb","type":"function","z":"276fcac0.c65f36","name":"Show Lang","func":"msg.payload = global.get(\"language\");\nreturn msg;","outputs":1,"noerr":0,"x":553,"y":28,"wires":[["629571fc.a279"]]},{"id":"dadef065.1d09b","type":"watson-language-translator-identify","z":"276fcac0.c65f36","name":"","default-endpoint":true,"service-endpoint":"https://gateway.watsonplatform.net/language-translator/api","x":213,"y":391,"wires":[["db75c0f6.0944d","49e6fdac.03e344","bbd8d904.5adf7"]]},{"id":"d900671c.47cb58","type":"link out","z":"276fcac0.c65f36","name":"","links":["c007def9.14ac78"],"x":163.33334350585938,"y":224.111083984375,"wires":[]},{"id":"c007def9.14ac78","type":"link in","z":"276fcac0.c65f36","name":"IDLang","links":["d900671c.47cb58"],"x":78,"y":396,"wires":[["dadef065.1d09b"]]},{"id":"db75c0f6.0944d","type":"debug","z":"276fcac0.c65f36","name":"","active":false,"console":"false","complete":"true","x":390,"y":343,"wires":[]},{"id":"49e6fdac.03e344","type":"function","z":"276fcac0.c65f36","name":"Set Language","func":"global.set(\"language\", msg.lang.language)\nreturn msg;","outputs":1,"noerr":0,"x":449,"y":413,"wires":[[]]},{"id":"a0b42db0.283b98","type":"watson-translator","z":"276fcac0.c65f36","name":"","action":"translate","basemodel":"","domain":"news","srclang":"en","destlang":"fr","password":"","custom":"","domainhidden":"","srclanghidden":"","destlanghidden":"","basemodelhidden":"","customhidden":"","filetype":"forcedglossary","trainid":"","lgparams2":"lparams","neural":false,"default-endpoint":true,"service-endpoint":"https://gateway.watsonplatform.net/language-translator/api","x":691.3055419921875,"y":672.25,"wires":[["347d3113.e3fe66"]]},{"id":"5f6ae10f.10cc9","type":"debug","z":"276fcac0.c65f36","name":"","active":false,"console":"false","complete":"true","x":404.52764892578125,"y":562.5555419921875,"wires":[]},{"id":"44bf1588.158db4","type":"switch","z":"276fcac0.c65f36","name":"Translate if dest is not English","property":"destlang","propertyType":"msg","rules":[{"t":"eq","v":"en","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":469.083251953125,"y":613.111083984375,"wires":[["347d3113.e3fe66"],["a0b42db0.283b98"]]},{"id":"bbd8d904.5adf7","type":"switch","z":"276fcac0.c65f36","name":"English?","property":"lang.language","propertyType":"msg","rules":[{"t":"eq","v":"en","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":418.88888888888886,"y":470,"wires":[["bef153f5.e2214"],["295ec600.622af2"]]},{"id":"bef153f5.e2214","type":"link out","z":"276fcac0.c65f36","name":"","links":["9a2cf131.b1f16"],"x":1042.5,"y":396.6666259765625,"wires":[]},{"id":"9a2cf131.b1f16","type":"link in","z":"276fcac0.c65f36","name":"StartConv","links":["bef153f5.e2214"],"x":227.77780151367188,"y":221.111083984375,"wires":[["2c98fb6c.0b3e8c"]]},{"id":"bc0606b0.6fbab8","type":"link in","z":"276fcac0.c65f36","name":"OutputLang","links":["429c5a51.a39c5c"],"x":96.25,"y":596.25,"wires":[["c8b098e8.309dc"]]},{"id":"429c5a51.a39c5c","type":"link out","z":"276fcac0.c65f36","name":"","links":["bc0606b0.6fbab8"],"x":487.5,"y":213.75,"wires":[]},{"id":"93e06a09.9de37","type":"comment","z":"276fcac0.c65f36","name":"Translate output if required","info":"","x":193.75,"y":545,"wires":[]},{"id":"1f8893bb.76687c","type":"comment","z":"276fcac0.c65f36","name":"Translate input if required","info":"","x":186.25,"y":335,"wires":[]},{"id":"c1028d91.4687e8","type":"watson-translator","z":"276fcac0.c65f36","name":"","action":"translate","basemodel":"","domain":"news","srclang":"en","destlang":"fr","password":"","custom":"","domainhidden":"","srclanghidden":"","destlanghidden":"","basemodelhidden":"","customhidden":"","filetype":"forcedglossary","trainid":"","lgparams2":"lparams","neural":false,"default-endpoint":true,"service-endpoint":"https://gateway.watsonplatform.net/language-translator/api","x":893.4722900390625,"y":516.638916015625,"wires":[["bef153f5.e2214"]]},{"id":"295ec600.622af2","type":"change","z":"276fcac0.c65f36","name":"Set translation properties","rules":[{"t":"set","p":"srclang","pt":"msg","to":"lang.language","tot":"msg"},{"t":"set","p":"destlang","pt":"msg","to":"en","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":655,"y":498.75,"wires":[["c1028d91.4687e8","ac9bdbd4.a10ca8"]]},{"id":"ac9bdbd4.a10ca8","type":"debug","z":"276fcac0.c65f36","name":"","active":true,"console":"false","complete":"true","x":858.75,"y":457.5,"wires":[]},{"id":"c40fbde7.1aef88","type":"ui_group","z":"","name":"Default","tab":"971e7ccd.b5868","disp":true,"width":"6"},{"id":"971e7ccd.b5868","type":"ui_tab","z":"","name":"Home","icon":"dashboard"}]