DomoticzFlows.json
[{"id":"772c3429.b76bfc","type":"tab","label":"Domoticz","disabled":false,"info":""},{"id":"b104d547.d07188","type":"debug","z":"772c3429.b76bfc","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":250,"y":60,"wires":[]},{"id":"e5fe71a1.aac65","type":"switch","z":"772c3429.b76bfc","name":"","property":"payload.name","propertyType":"msg","rules":[{"t":"eq","v":"AcuriteV2","vt":"str"},{"t":"eq","v":"Cresta","vt":"str"},{"t":"eq","v":"AcuriteV2a","vt":"str"},{"t":"eq","v":"CPU_Usage","vt":"str"},{"t":"eq","v":"Cabinet On/Off","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":6,"x":250,"y":340,"wires":[["28ff9673.42121a","f8eb6d4c.127d1","8c3d40b8.c76a2"],[],["f27fcec4.2a054"],["934f5f9c.21bec"],["17d961d4.a3a8ae","9b8fe0a1.d502f"],["53867353.5575ec"]]},{"id":"f372f14f.1d8ce","type":"ui_gauge","z":"772c3429.b76bfc","name":"","group":"9915ac5.f96b75","order":2,"width":"3","height":"3","gtype":"gage","title":"Ouside Above Garage","label":"degF","format":"{{value}}","min":"-20","max":"120","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":680,"y":180,"wires":[]},{"id":"8e3dad31.d40f9","type":"ui_chart","z":"772c3429.b76bfc","name":"","group":"9915ac5.f96b75","order":3,"width":"3","height":"3","label":"Temperature History","chartType":"line","legend":"false","xformat":"dd HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":2,"x":680,"y":220,"wires":[[],[]]},{"id":"3ecaf087.cc5a","type":"ui_gauge","z":"772c3429.b76bfc","name":"","group":"9915ac5.f96b75","order":4,"width":"3","height":"3","gtype":"gage","title":"Relative Humidity","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#ffff80","#00ff00","#ca3838"],"seg1":"30","seg2":"55","x":670,"y":260,"wires":[]},{"id":"7e93df9d.4b20d","type":"ui_chart","z":"772c3429.b76bfc","name":"","group":"9915ac5.f96b75","order":5,"width":"3","height":"3","label":"Relative Humidity","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":2,"x":670,"y":300,"wires":[[],[]]},{"id":"112e60d9.fb874f","type":"ui_gauge","z":"772c3429.b76bfc","name":"","group":"27f84b88.8f4ed4","order":6,"width":"3","height":"3","gtype":"gage","title":"MQTT Server CPU","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":670,"y":660,"wires":[]},{"id":"67db7657.732a28","type":"ui_chart","z":"772c3429.b76bfc","name":"","group":"27f84b88.8f4ed4","order":7,"width":"3","height":"3","label":"MQTT Server CPU History","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":700,"y":700,"wires":[["4fc92a09.5d57a4"]]},{"id":"76116002.528a7","type":"ui_gauge","z":"772c3429.b76bfc","name":"","group":"9915ac5.f96b75","order":10,"width":"3","height":"3","gtype":"gage","title":"My Sensor Battery","label":"Percent","format":"{{value}}","min":0,"max":"100","colors":["#ff0000","#e6e600","#00ff00"],"seg1":"","seg2":"","x":670,"y":140,"wires":[]},{"id":"28ff9673.42121a","type":"change","z":"772c3429.b76bfc","name":"Manage Battery","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.Battery","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":140,"wires":[["76116002.528a7"]]},{"id":"f8eb6d4c.127d1","type":"change","z":"772c3429.b76bfc","name":"Manage Temp","rules":[{"t":"set","p":"payload","pt":"msg","to":"$round(($number($[0].payload.svalue1) * 1.8 ) + 32, 1)\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":180,"wires":[["f372f14f.1d8ce","8e3dad31.d40f9"]]},{"id":"8c3d40b8.c76a2","type":"change","z":"772c3429.b76bfc","name":"Manage Humidity","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.svalue2","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":448.01953125,"y":225.00390625,"wires":[["3ecaf087.cc5a","7e93df9d.4b20d"]]},{"id":"934f5f9c.21bec","type":"change","z":"772c3429.b76bfc","name":"Manage Pi","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.svalue1","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":680,"wires":[["112e60d9.fb874f","67db7657.732a28"]]},{"id":"476e040d.cc2a0c","type":"ui_template","z":"772c3429.b76bfc","group":"9915ac5.f96b75","name":"How I did it","order":1,"width":0,"height":0,"format":"<p>I have implemented a snooping device driven from a Raspberry Pi\nthat has a 433Mhz RFLink radio <a href=https://www.nodo-shop.nl/nl/21-rflink-gateway>from Nodo Shop</a> attached. This picks up multiple cheap\nweather sensors that are in range of my house. See <a href=http://www.rflink.nl/blog2/easyha>here </a>for \ndetails on how to build your own. </p>","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":650,"y":80,"wires":[[]]},{"id":"2da19ff3.d3bb2","type":"ui_gauge","z":"772c3429.b76bfc","name":"","group":"9915ac5.f96b75","order":8,"width":"3","height":"3","gtype":"gage","title":"Another Neighbor's","label":"degF","format":"{{value}}","min":"-20","max":"120","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":670,"y":540,"wires":[]},{"id":"bdd05bae.821a18","type":"ui_chart","z":"772c3429.b76bfc","name":"","group":"9915ac5.f96b75","order":9,"width":"3","height":"3","label":"Another Neighbor's History","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":2,"x":700,"y":580,"wires":[[],[]]},{"id":"f27fcec4.2a054","type":"change","z":"772c3429.b76bfc","name":"Manage Temp","rules":[{"t":"set","p":"payload","pt":"msg","to":"$round(($number($[0].payload.svalue1) * 1.8 ) + 32, 1)\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":560,"wires":[["2da19ff3.d3bb2","bdd05bae.821a18"]]},{"id":"72bf0ded.5068e4","type":"mqtt in","z":"772c3429.b76bfc","name":"","topic":"domoticz/out","qos":"2","datatype":"auto","broker":"ab02504e.5aabc","x":110,"y":180,"wires":[["b104d547.d07188","ea33903a.ed4b8"]]},{"id":"ea33903a.ed4b8","type":"json","z":"772c3429.b76bfc","name":"","property":"payload","action":"","pretty":false,"x":200,"y":260,"wires":[["e5fe71a1.aac65"]]},{"id":"53867353.5575ec","type":"debug","z":"772c3429.b76bfc","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":190,"y":460,"wires":[]},{"id":"cd395fa4.d23aa","type":"file in","z":"772c3429.b76bfc","name":"","filename":"","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":440,"y":800,"wires":[["94426a6f.30e348"]]},{"id":"4fc92a09.5d57a4","type":"file","z":"772c3429.b76bfc","name":"","filename":"CPUHistoryFile","appendNewline":false,"createDir":false,"overwriteFile":"true","encoding":"none","x":970,"y":700,"wires":[[]]},{"id":"d28d7f2c.67f6","type":"inject","z":"772c3429.b76bfc","name":"Read History File","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":270,"y":800,"wires":[["cd395fa4.d23aa"]]},{"id":"94426a6f.30e348","type":"json","z":"772c3429.b76bfc","name":"","property":"payload","action":"","pretty":false,"x":590,"y":800,"wires":[["67db7657.732a28"]]},{"id":"17d961d4.a3a8ae","type":"debug","z":"772c3429.b76bfc","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":470,"y":360,"wires":[]},{"id":"4b2eeb63.df06c4","type":"comment","z":"772c3429.b76bfc","name":"See Alexa page for example command to Domoticz","info":"The 'state' is unreliable since it's really just a\ntoggle command. The LED will show the command given \n\"on\" or \"off\", but that isn't the true state of the light. ","x":790,"y":360,"wires":[]},{"id":"e8ed6724.471e38","type":"ui_led","z":"772c3429.b76bfc","group":"7a05111f.a209f","order":6,"width":0,"height":0,"label":"Cabinet","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"red","value":"0","valueType":"num"},{"color":"green","value":"1","valueType":"num"}],"name":"Cabinet","x":660,"y":400,"wires":[]},{"id":"9b8fe0a1.d502f","type":"change","z":"772c3429.b76bfc","name":"Get command","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.nvalue","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":400,"wires":[["e8ed6724.471e38","d154a521.d97028"]]},{"id":"d154a521.d97028","type":"debug","z":"772c3429.b76bfc","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":670,"y":440,"wires":[]},{"id":"9915ac5.f96b75","type":"ui_group","z":"","name":"Snooping 433mhz","tab":"96f6bb07.20a578","order":6,"disp":true,"width":"6","collapse":false},{"id":"27f84b88.8f4ed4","type":"ui_group","z":"","name":"Connections","tab":"96f6bb07.20a578","order":2,"disp":true,"width":"6"},{"id":"ab02504e.5aabc","type":"mqtt-broker","z":"","name":"Snoop433","broker":"192.168.1.137","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"7a05111f.a209f","type":"ui_group","z":"","name":"Office","tab":"96f6bb07.20a578","order":5,"disp":true,"width":"6","collapse":false},{"id":"96f6bb07.20a578","type":"ui_tab","z":"","name":"Greg's House","icon":"dashboard","order":1}]