TakePhotoOnCommandFromWIoT.json
[{"id":"93f35aff.203ae8","type":"tab","label":"Camera"},{"id":"9b61f616.0b0cd","type":"wiotp in","z":"93f35aff.203ae8","authType":"d","deviceKey":"f95cb3c4.bf3d6","deviceType":"","deviceId":"","command":"takePic","commandType":"g","qos":0,"name":"","x":138,"y":337,"wires":[["7b5b15be.f9f714"]]},{"id":"5475eb8c.dcd4a4","type":"wiotp out","z":"93f35aff.203ae8","authType":"d","qs":"false","qsDeviceId":"","deviceKey":"f95cb3c4.bf3d6","deviceType":"","deviceId":"","event":"picData","format":"data","qos":"","name":"picData","x":761,"y":346,"wires":[]},{"id":"7b5b15be.f9f714","type":"camerapi-takephoto","z":"93f35aff.203ae8","filemode":"0","filename":"","filedefpath":"1","filepath":"","fileformat":"jpeg","resolution":"1","rotation":"0","fliph":"0","flipv":"0","brightness":"50","contrast":"0","sharpness":"0","imageeffect":"none","name":"","x":370,"y":347,"wires":[["5475eb8c.dcd4a4"]]},{"id":"429ac2b.e24083c","type":"http in","z":"93f35aff.203ae8","name":"","url":"/cam","method":"get","swaggerDoc":"","x":123,"y":76,"wires":[["4fe3595e.986cf8"]]},{"id":"4fe3595e.986cf8","type":"camerapi-takephoto","z":"93f35aff.203ae8","filemode":"1","filename":"Pic.jpg","filedefpath":"1","filepath":"","fileformat":"jpeg","resolution":"3","rotation":"0","fliph":"0","flipv":"0","brightness":"50","contrast":"0","sharpness":"0","imageeffect":"none","name":"","x":357,"y":76,"wires":[["43aae31e.3dccbc"]]},{"id":"43aae31e.3dccbc","type":"function","z":"93f35aff.203ae8","name":"","func":"msg.payload = \"<HTML><body><h2>This is what Greg's TJBot sees!</h2>\"\nmsg.payload = msg.payload + \n\"<img width='800' height='600'alt='TJBot Image' src='Pic.jpg'>\" + \n\"</body></html>\"\nreturn msg;","outputs":1,"noerr":0,"x":601,"y":77,"wires":[["8a23c594.383df"]]},{"id":"8a23c594.383df","type":"http response","z":"93f35aff.203ae8","name":"","x":771,"y":77,"wires":[]},{"id":"f95cb3c4.bf3d6","type":"wiotp-credentials","z":"","name":"","org":"o862hv","serverName":"","devType":"pi","devId":"GGTJBot","keepalive":"60","cleansession":true,"tls":"","usetls":false}]