TalkingTJBot.json
[{"id":"7486d2da.14e914","type":"tab","label":"TJBot Listen","disabled":false,"info":""},{"id":"cd1c6e46.0b35b","type":"debug","z":"7486d2da.14e914","name":"","active":true,"console":"false","complete":"true","x":1238,"y":491,"wires":[]},{"id":"5694b74b.5b778","type":"switch","z":"7486d2da.14e914","name":"SelectColor","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"wave","vt":"str"},{"t":"cont","v":"yellow","vt":"str"},{"t":"cont","v":"red","vt":"str"},{"t":"cont","v":"blue","vt":"str"},{"t":"cont","v":"green","vt":"str"},{"t":"cont","v":"purple","vt":"str"},{"t":"cont","v":"pink","vt":"str"},{"t":"cont","v":"party","vt":"str"},{"t":"cont","v":"weather","vt":"str"},{"t":"cont","v":"bye","vt":"str"},{"t":"cont","v":"forecast","vt":"str"},{"t":"cont","v":"see","vt":"str"},{"t":"cont","v":"laugh","vt":"str"},{"t":"cont","v":"joke","vt":"str"},{"t":"cont","v":"line","vt":"str"},{"t":"else"}],"checkall":"false","outputs":16,"x":231.1111297607422,"y":762.2222290039062,"wires":[["ad616f03.c59bb8"],["523efc2d.e576ac"],["1bf80017.734608"],["f47aeec1.55f898"],["b1204d9e.42342"],["baff3e97.47291"],["5c91064e.10ee48"],["ad616f03.c59bb8","a2c7d6e.e99bf28","d1205b74.665218"],["d263e5fa.da832"],["df92fba4.b24e98"],["d263e5fa.da832"],["ea8e6a61.7c5668"],["9fcc01a3.8b08a"],["9fcc01a3.8b08a"],["e2f50f44.993c"],["22769eb1.caa0c2"]]},{"id":"ad616f03.c59bb8","type":"trigger","z":"7486d2da.14e914","op1":"40","op2":"0","op1type":"str","op2type":"str","duration":"3","extend":false,"units":"s","reset":"","name":"","x":500,"y":600,"wires":[["bae991d6.b61218"]]},{"id":"bae991d6.b61218","type":"rpi-gpio out","z":"7486d2da.14e914","name":"","pin":"37","set":"","level":"0","out":"pwm","x":780,"y":600,"wires":[]},{"id":"8dfc9989.ea3a3","type":"comment","z":"7486d2da.14e914","name":"Wave arm or Set LED Color","info":"","x":420,"y":560,"wires":[]},{"id":"ea2e84aa.ac005","type":"comment","z":"7486d2da.14e914","name":"Tell the TJBot to Wave or Set a Color or ask for the Weather Report","info":"","x":597,"y":36,"wires":[]},{"id":"1bf80017.734608","type":"change","z":"7486d2da.14e914","name":"Red Color","rules":[{"t":"set","p":"payload","pt":"msg","to":"0,255,0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":680,"wires":[["2079b26b.d6a646","b90c0c7b.8ad9c"]]},{"id":"b1204d9e.42342","type":"change","z":"7486d2da.14e914","name":"Green Color","rules":[{"t":"set","p":"payload","pt":"msg","to":"255,0,0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":760,"wires":[["2079b26b.d6a646","b90c0c7b.8ad9c"]]},{"id":"f47aeec1.55f898","type":"change","z":"7486d2da.14e914","name":"Blue Color","rules":[{"t":"set","p":"payload","pt":"msg","to":"0,0,255","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":720,"wires":[["2079b26b.d6a646","b90c0c7b.8ad9c"]]},{"id":"523efc2d.e576ac","type":"change","z":"7486d2da.14e914","name":"Yellow Color","rules":[{"t":"set","p":"payload","pt":"msg","to":"255,255,0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":640,"wires":[["2079b26b.d6a646","b90c0c7b.8ad9c"]]},{"id":"baff3e97.47291","type":"change","z":"7486d2da.14e914","name":"Purple Color","rules":[{"t":"set","p":"payload","pt":"msg","to":"238,130,238","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":800,"wires":[["2079b26b.d6a646","b90c0c7b.8ad9c"]]},{"id":"5c91064e.10ee48","type":"change","z":"7486d2da.14e914","name":"Pink Color","rules":[{"t":"set","p":"payload","pt":"msg","to":"255,192,203","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":840,"wires":[["2079b26b.d6a646","b90c0c7b.8ad9c"]]},{"id":"56200e57.e2466","type":"comment","z":"7486d2da.14e914","name":"node-red-node-pi-neopixel dependency","info":"This flow requires the\n  node-red-node-pi-neopixel\nfor the Raspberry Pi NeoPixel GPIO node.\nYou can either \n  $ sudo npm -g install node-red-node-pi-neopixel\n  and restart the Node-RED service\nor install it from Node-RED Manage Palette.","x":850,"y":700,"wires":[]},{"id":"a0275ac5.801988","type":"comment","z":"7486d2da.14e914","name":"Paste API keys for Speech to Text","info":"1. Log into Bluemix\n2. Create an instance of the \nWatson Speech to Text service.\n3. Visit the Service Credentials tab\n4. Click on View Credentials\n5. Copy/Paste the password and username into\nthis Node-RED node.","x":1013,"y":442,"wires":[]},{"id":"5cf7ca74.ad7944","type":"comment","z":"7486d2da.14e914","name":"node-red-node-watson dependency","info":"This flow requires the\n  node-red-node-watson\nfor the following Watson nodes:\n  Speech to Text\n\nYou can either \n  $ sudo npm -g install node-red-node-watson\n  and restart the Node-RED service\nor install it from Node-RED Manage Palette.","x":1000,"y":37,"wires":[]},{"id":"22769eb1.caa0c2","type":"change","z":"7486d2da.14e914","name":"No idea","rules":[{"t":"set","p":"payload","pt":"msg","to":"I'm sorry I didn't get that","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":880,"wires":[["7b5b4455.12faf4"]]},{"id":"a2c7d6e.e99bf28","type":"function","z":"7486d2da.14e914","name":"Party!","func":"var count = flow.get('count') || 0;\n\nif( count < 10 ) {\n   // Generate a random color and set the NeoPixel LED\n    msg.payload = '#'+(0x1000000+(Math.random())*0xffffff).toString(16).substr(1,6); \n    count += 1;\n    flow.set('count',count);\n        msg.count = count;\n    return [msg,msg];\n} else {\n    count = 0;\n    flow.set('count',count);\n    return [msg,null];\n}\n","outputs":"2","noerr":0,"x":510,"y":1000,"wires":[["2079b26b.d6a646"],["81320872.a95c08"]]},{"id":"81320872.a95c08","type":"delay","z":"7486d2da.14e914","name":"","pauseType":"delay","timeout":"0.3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":510,"y":1060,"wires":[["a2c7d6e.e99bf28"]]},{"id":"c54c67b6.70cb78","type":"change","z":"7486d2da.14e914","name":"Forecast","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.forecast.txt_forecast.forecastday[0].fcttext","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":720,"y":1080,"wires":[["7b5b4455.12faf4"]]},{"id":"225a9206.9514a6","type":"debug","z":"7486d2da.14e914","name":"","active":false,"console":"false","complete":"true","x":710,"y":1120,"wires":[]},{"id":"598f7cbc.1f058c","type":"comment","z":"7486d2da.14e914","name":"Paste API keys for Text to Speech","info":"1. Log into Bluemix\n2. Create an instance of the \nWatson Text to Speech service.\n3. Visit the Service Credentials tab\n4. Click on View Credentials\n5. Copy/Paste the password and username into\nthis Node-RED node.","x":980,"y":1020,"wires":[]},{"id":"3286e256.3ce8be","type":"comment","z":"7486d2da.14e914","name":"node-red-node-watson dependency","info":"This flow requires the\n  node-red-node-watson@0.5.10 or higher\nfor the following Watson nodes:\n  Text to Speech\n  Speech to Text\n  Tone Analyzer\n  Visual Recognition\n\nYou can either \n  $ sudo npm -g install node-red-node-watson\n  and restart the Node-RED service\nor install it from Node-RED Manage Palette.","x":980,"y":1060,"wires":[]},{"id":"74cb3b05.fa6c14","type":"comment","z":"7486d2da.14e914","name":"node-red-node-weather-underground dependency","info":"This flow requires\n  node-red-node-weather-underground\n\nYou can either \n  $ sudo npm -g install node-red-node-weather-underground\n  and restart the Node-RED service\nor install it from Node-RED Manage Palette.","x":410,"y":1140,"wires":[]},{"id":"2a104090.2743d8","type":"comment","z":"7486d2da.14e914","name":"WeatherUnderground API","info":"Visit \n   https://www.wunderground.com/weather/api/\nto get yourself a free developer API key.","x":290,"y":1100,"wires":[]},{"id":"d1205b74.665218","type":"change","z":"7486d2da.14e914","name":"Party msg","rules":[{"t":"set","p":"payload","pt":"msg","to":"TJ Bot is a party animal","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":960,"wires":[["7b5b4455.12faf4"]]},{"id":"4a9a422c.46adb4","type":"comment","z":"7486d2da.14e914","name":"node-red-contrib-micropi dependency","info":"This flow requires the\n  node-red-contrib-micropi\nfor the Micro Pi node.\nYou can either \n  $ sudo npm -g install node-red-contrib-micropi\n  and restart the Node-RED service\nor install it from Node-RED Manage Palette.","x":189,"y":35,"wires":[]},{"id":"3b6ec82c.ed91e","type":"inject","z":"7486d2da.14e914","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":210.83333333333331,"y":600,"wires":[["ad616f03.c59bb8"]]},{"id":"847060f.6a2aba","type":"inject","z":"7486d2da.14e914","name":"Click here to Start Recording","topic":"","payload":"start","payloadType":"str","repeat":"","crontab":"","once":false,"x":200,"y":180,"wires":[["87c3ef2a.effed8","7e3be64.245c118"]]},{"id":"c42d80ab.50e6e","type":"inject","z":"7486d2da.14e914","name":"Click here to Stop Recording","topic":"","payload":"stop","payloadType":"str","repeat":"","crontab":"","once":false,"x":200,"y":220,"wires":[["87c3ef2a.effed8","93bd4cd7.e9313"]]},{"id":"36051e14.6a3eca","type":"debug","z":"7486d2da.14e914","name":"","active":false,"console":"false","complete":"true","x":963,"y":98,"wires":[]},{"id":"8fb78962.58584","type":"link out","z":"7486d2da.14e914","name":"","links":["59534586.886154"],"x":1397,"y":818,"wires":[]},{"id":"b90c0c7b.8ad9c","type":"change","z":"7486d2da.14e914","name":"Continue listening for Hey Watson","rules":[{"t":"set","p":"payload","pt":"msg","to":"start","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":920,"y":800,"wires":[["536d50ba.1c8418"]]},{"id":"59534586.886154","type":"link in","z":"7486d2da.14e914","name":"","links":["8fb78962.58584"],"x":295,"y":260,"wires":[["87c3ef2a.effed8","7e3be64.245c118"]]},{"id":"e665d604.48486","type":"change","z":"7486d2da.14e914","name":"Turn off Hotword detection","rules":[{"t":"set","p":"payload","pt":"msg","to":"stop","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":685,"y":119,"wires":[["87c3ef2a.effed8"]]},{"id":"f9d24912.488b1","type":"delay","z":"7486d2da.14e914","name":"Don't record Watson's prompt","pauseType":"delay","timeout":"0","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":210,"y":440,"wires":[["d5128ac4.b7f598","5b2a6200.8062b8"]]},{"id":"d5128ac4.b7f598","type":"delay","z":"7486d2da.14e914","name":"","pauseType":"delay","timeout":"4","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":340,"y":520,"wires":[["541939bf.4160d"]]},{"id":"541939bf.4160d","type":"change","z":"7486d2da.14e914","name":"Listen for 5 sec","rules":[{"t":"set","p":"payload","pt":"msg","to":"stop","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":486,"y":446,"wires":[["b54708e4.2a88f8","3ac6899e.65503e","93bd4cd7.e9313"]]},{"id":"df92fba4.b24e98","type":"change","z":"7486d2da.14e914","name":"Bye / Exit","rules":[{"t":"set","p":"payload","pt":"msg","to":"Thanks for Playing. Come Back tomorrow","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":920,"wires":[["a6ef7ee7.48c848"]]},{"id":"d263e5fa.da832","type":"wunderground","z":"7486d2da.14e914","name":"","lon":"","lat":"","city":"Allen","country":"TX","x":520,"y":1100,"wires":[["c54c67b6.70cb78","225a9206.9514a6"]]},{"id":"2079b26b.d6a646","type":"rpi-neopixels","z":"7486d2da.14e914","name":"Set LED Color","pixels":"1","bgnd":"","fgnd":"","wipe":"40","mode":"pcent","rgb":"rgb","x":860,"y":740,"wires":[]},{"id":"2f36f76e.69079","type":"watson-speech-to-text","z":"7486d2da.14e914","name":"","alternatives":"","speakerlabels":false,"smartformatting":false,"lang":"en-US","langhidden":"en-US","langcustom":"NoCustomisationSetting","langcustomhidden":"","band":"BroadbandModel","bandhidden":"BroadbandModel","password":"wWe6gQZkbKWe","payload-response":true,"default-endpoint":true,"service-endpoint":"","x":1084,"y":497,"wires":[["cd1c6e46.0b35b","5694b74b.5b778"]]},{"id":"7b5b4455.12faf4","type":"watson-text-to-speech","z":"7486d2da.14e914","name":"","lang":"en-US","langhidden":"en-US","langcustom":"NoCustomisationSetting","langcustomhidden":"","voice":"en-US_MichaelVoice","voicehidden":"en-US_MichaelVoice","format":"audio/wav","password":"j8yYpkG5u5fC","payload-response":true,"default-endpoint":true,"service-endpoint":"","x":875,"y":926,"wires":[["326b2c3f.9b5bec","42ab877a.f23248","6dc6c1ab.c3616"]]},{"id":"3f8c540.e0aafac","type":"Snowboy","z":"7486d2da.14e914","name":"","detectorFile":"/home/pi/snowboy/rpi-arm-raspbian-8.0-1.0.0/resources/common.res","models":[{"idxOutput":0,"nbOutputs":1,"hotwords":"","sensitivity":"","file":"/home/pi/snowboy/Hey Watson.pmdl"},{"idxOutput":1,"nbOutputs":1,"hotwords":"","sensitivity":"","file":"/home/pi/snowboy/hey_watson.pmdl"}],"multipleOutput":"false","debug":"false","x":680.0999755859375,"y":232.9389190673828,"wires":[["e665d604.48486","36051e14.6a3eca","160bd528.734d3b","7e1b702c.fee378","93bd4cd7.e9313"]]},{"id":"87c3ef2a.effed8","type":"Mic","z":"7486d2da.14e914","name":"","outputPayloadType":"stream","endian":"little","bitwidth":"16","encoding":"signed-integer","channels":"1","device":"plughw:0,0","rate":"16000","silenceTimeout":"0","exitOnSilence":false,"debug":false,"active":true,"x":477.75,"y":188.75,"wires":[["3f8c540.e0aafac"]]},{"id":"160bd528.734d3b","type":"exec","z":"7486d2da.14e914","command":"aplay","addpay":false,"append":" --device=plughw:1,0 -c1 /home/pi/playme.wav","useSpawn":"false","timer":"","oldrc":false,"name":"Play \"how can I help?\"","x":1014.75,"y":145.25,"wires":[["f9d24912.488b1"],[],[]]},{"id":"5b2a6200.8062b8","type":"change","z":"7486d2da.14e914","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"start","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":453.75,"y":378.25,"wires":[["b54708e4.2a88f8","98caa3f8.445378"]]},{"id":"b54708e4.2a88f8","type":"Mic","z":"7486d2da.14e914","name":"","outputPayloadType":"buffer","endian":"little","bitwidth":"16","encoding":"signed-integer","channels":"1","device":"plughw:0,0","rate":"16000","silenceTimeout":"5","exitOnSilence":"false","debug":false,"active":true,"x":747.75,"y":353.75,"wires":[["c9c4bf07.d0a78","13b0c3af.e31f34"]]},{"id":"c9c4bf07.d0a78","type":"debug","z":"7486d2da.14e914","name":"","active":false,"console":"false","complete":"true","x":905.75,"y":332,"wires":[]},{"id":"13b0c3af.e31f34","type":"file","z":"7486d2da.14e914","name":"","filename":"/home/pi/command2.wav","appendNewline":false,"createDir":false,"overwriteFile":"false","x":968.75,"y":385.25,"wires":[]},{"id":"7e1b702c.fee378","type":"file","z":"7486d2da.14e914","name":"","filename":"/home/pi/command2.wav","appendNewline":false,"createDir":false,"overwriteFile":"delete","x":977.5,"y":287.75,"wires":[]},{"id":"f75a0a5.bbd3cf8","type":"file in","z":"7486d2da.14e914","name":"","filename":"/home/pi/command2.wav","format":"","chunk":false,"sendError":false,"x":859.5,"y":529.75,"wires":[["2f36f76e.69079"]]},{"id":"3ac6899e.65503e","type":"delay","z":"7486d2da.14e914","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":643.5,"y":511.25,"wires":[["f75a0a5.bbd3cf8"]]},{"id":"98caa3f8.445378","type":"change","z":"7486d2da.14e914","name":"White Color","rules":[{"t":"set","p":"payload","pt":"msg","to":"255,255,255","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":757.1666870117188,"y":427.8333435058594,"wires":[["2079b26b.d6a646"]]},{"id":"326b2c3f.9b5bec","type":"debug","z":"7486d2da.14e914","name":"","active":false,"console":"false","complete":"false","x":1212.75,"y":1026,"wires":[]},{"id":"42ab877a.f23248","type":"file","z":"7486d2da.14e914","name":"","filename":"/home/pi/speech.wav","appendNewline":false,"createDir":false,"overwriteFile":"true","x":1195.75,"y":902.75,"wires":[]},{"id":"17b005f7.7d015a","type":"exec","z":"7486d2da.14e914","command":"aplay","addpay":false,"append":" --device=plughw:1,0 -c1 /home/pi/speech.wav","useSpawn":"false","timer":"","oldrc":false,"name":"","x":1421.5,"y":944,"wires":[["55b8bc43.5935c4"],[],[]]},{"id":"6dc6c1ab.c3616","type":"delay","z":"7486d2da.14e914","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1265.75,"y":954.75,"wires":[["17b005f7.7d015a"]]},{"id":"7e3be64.245c118","type":"change","z":"7486d2da.14e914","name":"White Color","rules":[{"t":"set","p":"payload","pt":"msg","to":"255,255,255","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":484.5,"y":247.5,"wires":[["2079b26b.d6a646"]]},{"id":"93bd4cd7.e9313","type":"change","z":"7486d2da.14e914","name":"Black Color","rules":[{"t":"set","p":"payload","pt":"msg","to":"0,0,0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1138.5,"y":203.5,"wires":[["2079b26b.d6a646"]]},{"id":"a6ef7ee7.48c848","type":"watson-text-to-speech","z":"7486d2da.14e914","name":"","lang":"en-US","langhidden":"en-US","langcustom":"NoCustomisationSetting","langcustomhidden":"","voice":"en-US_MichaelVoice","voicehidden":"en-US_MichaelVoice","format":"audio/wav","password":"j8yYpkG5u5fC","payload-response":true,"default-endpoint":true,"service-endpoint":"","x":872.77783203125,"y":879.4445190429688,"wires":[["42ab877a.f23248","965bf36e.1d7278"]]},{"id":"965bf36e.1d7278","type":"delay","z":"7486d2da.14e914","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1428.3333740234375,"y":859.4445190429688,"wires":[["45ff3e7c.3ecd7"]]},{"id":"45ff3e7c.3ecd7","type":"exec","z":"7486d2da.14e914","command":"aplay","addpay":false,"append":" --device=plughw:1,0 -c1 /home/pi/speech.wav","useSpawn":"false","timer":"","oldrc":false,"name":"","x":1584.0833740234375,"y":848.6945190429688,"wires":[[],[],[]]},{"id":"536d50ba.1c8418","type":"delay","z":"7486d2da.14e914","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1198.6112060546875,"y":804.7222290039062,"wires":[["8fb78962.58584"]]},{"id":"ea8e6a61.7c5668","type":"camerapi-takephoto","z":"7486d2da.14e914","filemode":"0","filename":"","filedefpath":"1","filepath":"","fileformat":"jpeg","resolution":"1","rotation":"0","fliph":"0","flipv":"0","brightness":"50","contrast":"0","sharpness":"0","imageeffect":"none","name":"What do I see","x":511.66680908203125,"y":1198.3333740234375,"wires":[["41592f16.a2ff5"]]},{"id":"41592f16.a2ff5","type":"visual-recognition-v3","z":"7486d2da.14e914","name":"","apikey":"1350422fa1404dff03b12cb26cc2ad141ce218e3","image-feature":"classifyImage","lang":"en","x":744.1666870117188,"y":1191.388916015625,"wires":[["c209829c.ca8b","7a41c49f.1e8b74"]]},{"id":"c209829c.ca8b","type":"debug","z":"7486d2da.14e914","name":"","active":false,"console":"false","complete":"true","x":934.1666259765625,"y":1228.888916015625,"wires":[]},{"id":"7a41c49f.1e8b74","type":"function","z":"7486d2da.14e914","name":"Format into sentence","func":"var picInfo = msg.result.images[0].classifiers[0].classes;\nvar arrayLength = picInfo.length;\nmsg.payload=\"I see a \";\nfor (var i = 0; i < arrayLength; i++) {\n    if (i < arrayLength-1)\n        msg.payload = msg.payload + picInfo[i].class + \", \";\n    else \n        msg.payload = msg.payload + picInfo[i].class;\n}\nreturn msg;","outputs":1,"noerr":0,"x":976.3887939453125,"y":1178.0554809570312,"wires":[["f163f6f.2a6c108","7b5b4455.12faf4"]]},{"id":"f163f6f.2a6c108","type":"debug","z":"7486d2da.14e914","name":"","active":false,"console":"false","complete":"false","x":1181.9444580078125,"y":1212.2222290039062,"wires":[]},{"id":"55b8bc43.5935c4","type":"change","z":"7486d2da.14e914","name":"Continue listening for Hey Watson","rules":[{"t":"set","p":"payload","pt":"msg","to":"start","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1531.666748046875,"y":1030.5556640625,"wires":[["8fb78962.58584"]]},{"id":"9fcc01a3.8b08a","type":"change","z":"7486d2da.14e914","name":"Tell a joke","rules":[{"t":"set","p":"payload","pt":"msg","to":"Why did the robot go back to robot school? ,,,, Because his skills were getting a little rusty!","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":491.94451904296875,"y":1253.0556030273438,"wires":[["7b5b4455.12faf4"]]},{"id":"e2f50f44.993c","type":"change","z":"7486d2da.14e914","name":"Pick up line","rules":[{"t":"set","p":"payload","pt":"msg","to":" Do you believe in love at first optical recognition, or should I ambulate by your location again? ","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":497.5,"y":1306.9447021484375,"wires":[["7b5b4455.12faf4"]]}]